/**{
    border: 1px solid red;
}*/
.img-responsive{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
body{
    background-image: url("../images/spaceBackground.jpg");
}
.panel{
    background-color:  #9932CC;
}
p, h1, h2, h3{
    color: white;
}
h3{
    font-weight: bold;
}